.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

@font-face {
  font-family: "nandos";
  src: url("//db.onlinewebfonts.com/t/6fc835b71af69222366fb9c510a3edb1.eot");
  src: url("//db.onlinewebfonts.com/t/6fc835b71af69222366fb9c510a3edb1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6fc835b71af69222366fb9c510a3edb1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6fc835b71af69222366fb9c510a3edb1.woff") format("woff"), url("//db.onlinewebfonts.com/t/6fc835b71af69222366fb9c510a3edb1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6fc835b71af69222366fb9c510a3edb1.svg#Nandos-Regular") format("svg");
}
html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

h2 {
  font-family: nandos, Helvetica, Arial, Geneva, sans-serif;
  margin: 0;
  font-size: 3.75rem;
}

ol,
ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

a.button {
  background-color: #00e2c2;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
  max-width: max-content;
  max-height: min-content;
}

header {
  background-color: #ffffff;
  display: flex;
  width: 100%;
}
header .logo {
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  height: inherit;
}
header .logo a {
  width: 114px;
  height: 38px;
  background-image: url(/assets/barci.svg);
  display: block;
}
header nav {
  flex: 1 1 auto;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: end;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  text-transform: uppercase;
  font-weight: 550;
  font-size: 16px;
  cursor: pointer;
}
header nav ul li:last-child {
  border-left: solid black 1px;
  padding-left: 1rem;
}
header nav ul li:hover {
  color: #cd0b26;
}
header .utility_links {
  display: flex;
  padding-right: 4rem;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
header .utility_links ul {
  display: flex;
}
header .utility_links ul li {
  display: flex;
  align-items: center;
}
header .utility_links ul li .profile_button {
  display: block;
  height: 30px;
  width: 30px;
  background-size: contain;
  content: "";
  background-image: url(/assets/user_green.svg);
}
header .utility_links ul li .profile_button:hover {
  background-image: url(/assets/user_white.svg);
  background-color: #96c31e;
  border-radius: 50%;
  background-position: center center;
}

.hero {
  display: flex;
  width: 100%;
  height: 550px;
}
.hero h2 {
  color: #ffffff;
}
.hero p {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
}

.glide__slides {
  height: 550px;
}

.glide__slide {
  line-height: 100px;
  margin: 0;
  text-align: center;
}

@keyframes bounceX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--bouceDirection));
  }
}
@keyframes bounceY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--bouceDirection));
  }
}
.glide__slide--active {
  z-index: 1;
}

.glide__arrows {
  z-index: 90;
  position: absolute;
  display: block;
  top: 50%;
  width: 100%;
}

.glide__arrow {
  z-index: 90;
  position: absolute;
  display: block;
  top: 50%;
  cursor: pointer;
}

.glide__arrow--prev {
  --bouceDirection: -3px;
  left: 5%;
  animation: bounceX 1s infinite;
}

.glide__arrow--next {
  --bouceDirection: +3px;
  animation: bounceX 1s infinite;
  right: 5%;
}

.slide_content {
  position: relative;
  top: calc(50% + 25px);
  transform: translate(0%, -50%);
  z-index: 10;
  transition-property: none;
  backface-visibility: visible;
}
.slide_content h2 {
  transform: rotate(-3deg);
  margin: 2.5rem 0 2.875rem;
}
.slide_content h2::before, .slide_content h2::after {
  background: url(/assets/line.png) top left no-repeat;
  position: absolute;
  left: 50%;
  display: block;
  width: 139px;
  height: 14px;
  content: "";
  background-size: contain;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  z-index: 10;
}
.slide_content h2::before {
  top: -20px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.slide_content h2::after {
  bottom: -40px;
  -webkit-transform: rotate(187deg) translate(50%, 0);
  -ms-transform: rotate(187deg) translate(50%, 0);
  transform: rotate(187deg) translate(50%, 0);
}
.slide_content p {
  font-size: 1.125rem;
  transform: rotate(-3deg);
}

.slide_1 {
  background-image: url(/assets/SSB-1800x771_live.png);
}

.slide_2 {
  background-image: url(/assets/NHS_Banner20-201800x900_0.jpeg);
}

.slide_3 {
  background-image: url(/assets/Homepage20180020x20771_desktop.jpeg);
}

.triangle {
  width: 0;
  height: 0;
}
.triangle.triangle-left {
  border-top: 9px solid transparent;
  border-right: 19px solid #73ff1e;
  border-bottom: 9px solid transparent;
}
.triangle.triangle-right {
  border-top: 9px solid transparent;
  border-left: 19px solid #73ff1e;
  border-bottom: 9px solid transparent;
}
.triangle.triangle-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 24px solid #ffff00;
}

.down-arrow {
  position: absolute;
  left: 50%;
  bottom: -2%;
  z-index: 110;
  --bouceDirection: +3px;
  animation: bounceY 1s infinite;
  z-index: 90;
  display: block;
  cursor: pointer;
}

.coloured-panels {
  display: flex;
  width: 100%;
  text-align: center;
}

.coloured-panel {
  height: 497px;
  width: calc(100% / 3);
}
.coloured-panel.panel-dark {
  color: #000000;
}
.coloured-panel.panel-light {
  color: #ffffff;
}
.coloured-panel a {
  display: inline-block;
  color: #000000;
  margin: 1rem;
}
.coloured-panel .panel-content {
  position: relative;
  top: 50%;
  left: 50%;
  padding: 0 1.25rem;
  max-width: 485px;
  transform: translate(-50%, -50%);
}
.coloured-panel h2 {
  margin: 0 auto 2.5rem;
}
.coloured-panel p {
  margin: 0 auto 2.5rem;
  font-size: 1.25rem;
}

.first-panel {
  background-color: #fda31a;
}

.second-panel {
  background-color: #02555b;
}

.third-panel {
  background-color: #96c31e;
}

/*# sourceMappingURL=style.css.map */
