:root {
  --indigo: #4942db;
  --teal: #14d9c5;
  --pale_teal: #adf2e0;
  --yellow: #fff27f;
  --pink: #ffcbd5;
  --fuschia: #ff4f79;
  --white: white;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.headerWrapper {
  display: flex;
  background-color: var(--white);
  transition: padding-bottom 0.2s ease;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  padding-left: 4rem;
  align-items: center;
}

.headerWrapper.--scroll {
  transition: all 0.2s ease;
  padding-bottom: 0.75rem;
  padding-top: 1rem;
}

.mainLogo {
  fill: var(--indigo);
  width: 264px;
  height: 69px;
  transition: all 0.2s ease;
}

.mainLogo.--scroll {
  transition: all 0.2s ease;
  width: 157px;
  height: 41px;
}

.navContainer {
  display: flex;
  align-self: flex-end;
  margin-left: 1rem;
}

.navItem {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.linkUnderline {
  transition: width 0.75s ease;
  background-color: var(--indigo);
  height: 0.25rem;
  width: 0%;
}

.underlinedItem:hover > .linkUnderline {
  width: 100%;
}

.navLink {
  color: var(--indigo);
  text-transform: uppercase;
  font-weight: bolder;
  z-index: 10;
}

.alertPopup {
  background-color: var(--yellow);
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 15%;
  padding-right: 15%;
}

.alertPopup a {
  text-decoration: underline;
}

h5 {
  color: var(--indigo);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
  margin: 1rem;
}

h6 {
  color: var(--indigo);
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  margin: 1rem;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

video {
  position: absolute;
  width: 100%;
  object-fit: fill;
}

section {
  display: flex;
  width: 100%;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

span {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 48px;
}

.firstSection {
  background-color: var(--teal);
  position: static;
}

.sectionContent {
  width: 50%;
  padding-bottom: 3rem;
}

.contentWrapper {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.firstSectionContent {
  color: var(--white);
}

.sectionHeading {
  font-weight: bold;
  font-size: 32px;
}

.contentBody {
  font-size: 20px;
}

.sectionImageContainer {
  width: 50%;
  position: relative;
}

.sectionImageWrapper {
  display: block;
  margin: auto;
}

.sectionImage {
  object-fit: cover;
  position: absolute;
  z-index: 0;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.firstSectionImage {
  width: 100%;
  height: 544px;
}

.sectionButton {
  height: 70px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem;
  text-align: left;
  margin-top: 3rem;
}

.buttonIcon {
  transition: transform 0.5s ease;
  width: 50px;
  height: 30px;
}

.sectionButton:hover > .buttonIcon {
  transition: transform 0.5s ease;
  transform: translate(10px);
}

.firstSectionButton {
  background-color: var(--indigo);
  color: var(--white);
}

.secondSection {
  background-color: var(--pink);
  color: var(--fuschia);
  position: static;
}

.secondSectionImage {
  width: 100%;
  height: 398px;
}

.secondSectionHeading {
  font-size: 38px;
}

.secondSectionButton {
  background-color: var(--fuschia);
  color: var(--white);
}

.thirdSection {
  background-color: var(--pale_teal);
  color: var(--fuschia);
  position: static;
}

.thirdSectionContent {
  padding-top: 2rem;
}

.thirdSectionButton {
  background-color: var(--indigo);
  color: var(--white);
}

.thirdSectionHeading {
  font-size: 48px;
}

.legend {
  text-transform: uppercase;
  padding: 1rem;
  font-size: 12px;
  font-weight: bold;
}

.thirdSectionHeading {
  padding: 1rem;
}

.thirdSectionButton {
  margin: 1rem;
}

.thirdSectionImage {
  width: 100%;
  height: 395px;
}

.fourthSection {
  background-color: var(--fuschia);
  color: var(--yellow);
  position: static;
}

.fourthSectionButton {
  background-color: var(--yellow);
  color: var(--fuschia);
}

.fourthSectionImageContainer {
  width: 50%;
  position: relative;
}

.fourthSectionImageWrapper {
  display: block;
  margin: auto;
  width: 100%;
  height: 452px;
}

.fourthSectionImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.fifthSection {
  background-color: var(--yellow);
  color: var(--fuschia);
  position: static;
}

.fifthSectionButton {
  background-color: var(--indigo);
  color: var(--white);
}

.fifthSectionHeading {
  font-size: 54px;
}

.fifthSectionImage {
  width: 100%;
  height: 436px;
}

.fifthSectionButton {
  margin-top: 3rem;
}

.instagramSection {
  background-color: var(--teal);
  color: var(--indigo);
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.instagramSectionHeading {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
}

.instagramHeading {
  text-transform: uppercase;
  font-size: 24px;
  padding: 1 rem;
  font-weight: bold;
}

.instagramIcon {
  padding: 1rem;
}

.instagramImageSlides {
  display: flex;
  width: 80%;
}

.instagramImageContainer {
  background-color: var(--white);
  padding: 1rem;
  margin: 0.5rem;
  flex: 1 1 0px;
  width: 100%;
}

.instagramImage {
  width: 100%;
  height: 100%;
}

.instagramButtonContainer {
  padding: 2rem;
}

.instagramButton {
  background-color: var(--indigo);
  color: var(--teal);
}

.footer {
  background-color: var(--white);
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  display: flex;
}

.footerRightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLeftContainer {
  width: 60%;
}

.footerLogo {
  width: 230px;
  height: 69px;
  padding: 1rem;
}

.footerLinksContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.footerItem {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footerLink {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--indigo);
  font-size: 14px;
}

.footerSignupContent {
  display: flex;
}

.footerSignupHeading {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--indigo);
  font-size: 22px;
  padding: 1rem;
  white-space: nowrap;
}

.footerSignupSubtitle {
  color: var(--indigo);
  font-size: 16px;
  padding: 1rem;
}

.footerSocialContainer {
  display: flex;
  padding-bottom: 0.3rem;
}

.footerSocialItem {
  background-color: var(--indigo);
  border-radius: 100%;
  margin: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0.1rem;
}

.socialIcon {
  display: block;
  margin: 0 auto;
}

.signature {
  color: var(--indigo);
  font-size: 16px;
  padding: 1rem;
  text-decoration: none;
}

@media screen and (max-device-width: 768px) {
  section {
    flex-direction: column;
  }
  .sectionContent {
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .sectionImageContainer {
    width: 100%;
  }
  .fourthSectionImageContainer {
    width: 100%;
  }
  .alertPopup {
    padding: 1rem;
  }
  h5 {
    font-size: 22px;
  }
  h6 {
    font-size: 10px;
  }
  .sectionHeading {
    font-size: 36px;
  }
  .contentBody {
    font-size: 32px;
  }
  .lgMenuWrapper {
    display: none;
  }

  .smMenuWrapper {
    display: block;
  }

  .mainLogo {
    fill: var(--indigo);
    width: 157px;
    height: 41px;
  }

  .headerWrapper {
    display: flex;
    background-color: var(--white);
    transition: padding-bottom 0.2s ease;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    justify-content: space-between;
  }
}

@media screen and (min-device-width: 768px) {
  .lgMenuWrapper {
    display: block;
  }
  .smMenuWrapper {
    display: none;
  }
}

.menuIconContainer {
  width: 35px;
  height: 35px;
  padding: 1rem;
  position: relative;
}

.menuIcon {
  position: absolute;
  display: block;
  margin: auto;
  width: 35px;
  height: 35px;
}

.burgerIcon {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
  transform: scale(1, 1);
}

.closeIcon {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  transform: scale(1, 0);
}

.smMenuWrapper.--isOpen .closeIcon {
  opacity: 1;
  visibility: visible;
  transform: scale(1, 1);
}
.smMenuWrapper.--isOpen .burgerIcon {
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 0);
}

.burgerMenuContainer {
  position: absolute;
  z-index: 10;
  background-color: var(--indigo);
  width: 0%;
  height: 100vh;
  right: 0;
  transition: all 0.1s ease;
  visibility: hidden;
}

.smMenuWrapper.--isOpen .burgerMenuContainer {
  visibility: visible;
  width: 95%;
  transition: width 0.1s ease;
}

.menuItemContainer {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  align-items: flex-end;
  padding-top: 1rem;
  visibility: hidden;
}

.smMenuWrapper.--isOpen .menuItemContainer {
  visibility: visible;
  transition: visibility 0.1s 0.1s;
}

.menuItem {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menuLink {
  color: var(--teal);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
